<!DOCTYPE html>
<html>
    <head>
        <title>Mon fichier</title>
    </head>
    <body>
        <h1>Fichier html</h1>

        <h2>Formulaire</h2>
        <form method="POST" action="/form">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="mot de passe">
            <button type="submit">connexion </button>
        </form>

        <h2> voici mon image</h2>
        <img src="/static/images/1.jpg" width="10px">
    </body>
</html>